
*{
    margin: 0px;
    padding: 0px;
}
.nav{
    width: 100%;
    height: 32px;
    background: #007ae1;
    font-size: 12px;
    text-align: center;
    line-height: 32px;

}
.nav-a{
    width: 1000px;
    height: 32px;
    margin: 0px auto;
    clear: left;
    clear: right;
}
.nav-b{
    width: 65px;
    height: 32px;
    float: right;
    padding-right:21px ;
}
.nav-c {
    width: 65px;
    height: 32px;
    float: right;
    padding-right: 30px;
}
.nac-d{
    width: 265px;
    height: 32px;
    padding-left: 21px;
    float: left;
}
.dao{
    width: 100%;
    height: 96px;
    background: #eeeeee;
}
.daohang{
    width: 1000px;
    height: 96px;
    background: #eeeeee;
    margin: 0px auto;
    clear: left;
}
.daohang img{
    float: left;
    padding-left:21px ;
    padding-top:21px ;
}
.daohang-a{
    width: 717px;
    height: 96px;

    float: left;
    margin-left:82px ;
}
.daohang-a a{
    font-size: 18px;
    text-decoration: none;
   color: #494949;
    text-align: center;
    line-height: 96px;
}
.tu{
    width:100%;
    height: 516px;

}
.tu-a img{
    width: 100%;
    height:516px;
}
.neirong{
    width: 100%;
    height: 500px;
    background: url("tu4_02.gif");
}
.neirong-a{
    width: 1000px;
    height: 500px;
    margin: 0px auto;
}
.neirong-a h2{
    color: #ffffff;
    padding-top: 28px;
    font-size: 30px;
}
.neirong-a img{
    vertical-align: middle;
   paddding-top: 10px;
    margin-left: 20px;
}
.neirong-a h4{
    font-size: 24px;
    color: #ffffff;
    padding-top: 113px;
    padding-left: 358px;
    padding-bottom: 33px;
}
.neirong-a p{
   font-size: 18px;
    color: #ffffff;
    text-indent:35px;
    line-height: 30px;

}
.her{
    width: 100%;
    height: 550px;
    background: url("tu6_02.png");
}
.her-a{
    width: 1000px;
    height: 550px;
    margin: 0px auto;
}
.her-b{
    width: 171px;
    height: 188px;
    background: #4db5f7;
    float: left;
}
.her-c{
    width: 171px;
    height: 188px;
    background: #f7b449;
    float: left;
}
.her-d{
    width: 171px;
    height: 188px;
    background: #75c273;
    float: left;
}
.her-e{
    width: 171px;
    height: 188px;
    background: #ff5253;
    float: left;
}
.her-f{
    width: 171px;
    height: 188px;
    background: #7265ab;
    float: left;
}
.her-a h2{
    color: #b7c9e3;
    font-size: 30px;
    padding-left:10px;
    padding-top:35px ;
}
.her-a h2 img{
    padding-left:27px;
}
.her-b{
    margin-left:10px ;
    margin-top:74px;
}
.her-c{
    margin-left:24px ;
    margin-top:74px;
}
.her-d{
    margin-left:24px ;
    margin-top:74px;
}
.her-e{
    margin-left:10px ;
    margin-top:74px;
}
.her-f{
    margin-left:24px ;
    margin-top:74px;
}
.her-b  img{
    padding-left: 40px;
    padding-top: 25px;
}
.her-c  img{
    padding-left: 40px;
    padding-top: 25px;
}
.her-d  img{
    padding-left: 40px;
    padding-top: 25px;
}
.her-e  img{
    padding-left: 40px;
    padding-top: 25px;
}
.her-f  img{
    padding-left: 40px;
    padding-top: 25px;
}
.her-b p{
    color: #ffffff;
    font-size: 20px;
    padding-left: 27px;
    padding-bottom: 21px;
}
.her-c p{
    color: #ffffff;
    font-size: 20px;
    padding-left: 15px;
    padding-bottom: 21px;
}
.her-d p{
    color: #ffffff;
    font-size: 20px;
    padding-left: 27px;
    padding-bottom: 21px;
}
.her-e p{
    color: #ffffff;
    font-size: 20px;
    padding-left: 27px;
    padding-bottom: 21px;
}
.her-f p{
    color: #ffffff;
    font-size: 20px;
    padding-left: 40px;
    padding-bottom: 21px;
}
.her-g{
     width: 1000px;
     height: 130px;
     background: #ffffff;
     margin-top:310px;
    border-radius:5px ;
    position: relative;
}
.her-g h1{
    flex-family:微软雅黑 ;
    font-size: 32px;
    color: #585858;
    padding-left: 30px;
    padding-top: 22px;
}
.her-g p{
    color: #9a9a9a;
    font-size: 16px;
    padding-left: 30px;
}
.her-g img{
    position: absolute;
    right: 43px;
    top: 41px;
}
.bei{
    width: 100%;
    height: 727px;
    background: url("t13_02.png");
    position: relative;
}
.bei-a{
    width: 1000px;
    height: 727px;
    margin: 0px auto;
    clear: left;
    clear: right;
}
.bei-a span{
    color: #ffffff;
    font-size: 30px;
    display: inline-block;
    padding-top: 50px;
    padding-left: 10px;
}
.bei-a img{
     margin-left: 38px;

}
.bei-b{
    float: left;
   margin-left: -38px;
    margin-top: 62px;
}
.bei-c{
    float: left;
    margin-top: 62px;
}
.bei-d{
    float: right;
    margin-top: 62px;
}
.bei-b p{
    font-size: 22px;
    color: #ffffff;
    padding-left: 120px;
}

.bei-c p{
    font-size: 22px;
    color: #ffffff;
    padding-left: 120px;
}

.bei-d p{
    font-size: 22px;
    color: #ffffff;
    padding-left: 140px;
}
.bei-e{
    position: absolute;
    left: 100px;
    top:390px;
}
.bei-f{
    position: absolute;
    right: 100px;
    top:390px;
}
.xinwen{
    width: 100%;
    height: 511px;
    background: url("t19.png");
}
.xinwen-a{
    width: 1000px;
    height: 511px;
    margin: 0 auto;
    clear: left;
}
.xinwen-a span{
    color: #ffffff;
    font-size: 30px;
    display: inline-block;
    padding-left: 5px;
    padding-top: 30px;
}
.xinwen-a img{
    padding-left: 27px;
}
.xinwen-b{
    width: 500px;
    height: 400px;
    float: left;
}
.xinwen-b h3{
    color: #ffffff;
    font-size: 30px;
    padding-top: 23px;
    padding-bottom: 37px;
}
.xinwen-b h3 span{
    color: #ffffff;
    font-size: 14px;
}
.xinwen-b h3 em{
    font-size: 16px;
    color: #ffffff;
    padding-left: 50px;
}
.xinwen-b p{
    color: #ffffff;
    font-size: 16px;
    line-height: 27px;
}.xinwen-b p i{
    padding-left: 44px;
 }
 .hz{
     width: 100%;
     height: 220px;
     background: #eeeeee;
 }
 .hz-a{
     width: 1000px;
     height: 220px;
     margin: 0 auto ;
 }
.hz-a img{
    padding-left: 21px;
    padding-top:40px ;
}
.hz-a div img{
    padding-bottom: 110px;
}
.footer{
    width: 100%;
    height: 111px;
    background: #0a98e0;
}
.footer-a{
    width: 1000px;
    height: 111px;
    margin: 0 auto;
}
.footer-a p{
    color: #ffffff;
    font-size: 12px;
    padding-left: 151px;
    padding-top: 25px;
}
.footer-a div{
    color: #ffffff;
    font-size: 12px;
    padding-left: 20 0px;
    padding-top: 15px;
}


